@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.FileProviders;
@using System.Globalization;
@using System.Net;

@model BookshelfModel

@{
    ViewData["Title"] = "Home Page";
}

<table class="table caption-top">
    <caption>List of books</caption>
    <thead>
        <tr>
            <th><span>Name</span></th>
            <th class="text-end"><span class="pe-3">Length</span></th>
            <th><span class="ps-3">Last&nbsp;Modified</span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dir in this.Model.Contents.Where(x => x.IsDirectory))
        {
            var name = dir.Name;
            var encoded = this.Model.nameMap.SingleOrDefault(x => x.Value == name).Key;
            if (!string.IsNullOrEmpty(encoded))
            {
                var folder = this.Model.Directory.StartsWith('/') ? this.Model.Directory.Substring(1, this.Model.Directory.Length - 1) : this.Model.Directory;
                var uri = $"/Bookshelf/Index/?id={System.IO.Path.Combine(folder, encoded)}";
                <tr>
                    <td>
                        <span><a href="@uri">@Html.Raw(HtmlEncode(dir.Name))</a></span>
                    </td>
                    <td><span class="float-end">[folder]</span></td>
                    <td></td>
                </tr>
            }
        }

        @foreach (var file in this.Model.Contents.Where(x => !x.IsDirectory))
        {
            var name = file.Name;
            var encoded = this.Model.nameMap.SingleOrDefault(x => x.Value == name).Key;
            if (!string.IsNullOrEmpty(encoded))
            {
                var uri = $"/Books/{this.Model.Directory}/{file.Name}";
                <tr>
                    <td><span><a href="@uri">@Html.Raw(HtmlEncode(name))</a></span></td>
                    <td><span class="float-end">@Html.Raw(HtmlEncode(file.Length.ToString("n0", CultureInfo.CurrentCulture)))</span></td>
                    <td><span class="ps-3">@Html.Raw(@HtmlEncode(file.LastModified.ToString("yyyy-MM-dd hh:mm", CultureInfo.CurrentCulture)))</span></td>
                </tr>
            }
        }
    </tbody>
</table>

@functions {
    private string HtmlEncode(string body)
    {
        return HtmlEncoder.Encode(body);
    }
}